<div >
<style>
input.ng-invalid.ng-dirty {border:2px solid red;}
</style>
<div class="panel panel-default">
    <div class="panel-body">
			<div class="row">
			<div class="col-sm-4">
			<a class="btn btn-primary" href="#/route1/{{ user.id}}" ng-click="editUser(user.id)">
					<span class="glyphicon glyphicon-chevron-left"></span>  Back
					</a></div>
			<div class="col-sm-4"><h3>Create New Employee</h3></div>
			</div>
			
			<div class="col-md-12">	
				<form name="form" class="form-horizontal" novalidate>

				<div class="form-group">
					<label class="col-sm-2 control-label">First Name</label>
					<div class="col-sm-10"><input type="text" ng-model="fName" placeholder="First Name" required></div>
				</div>				
				<div class="form-group">
					<label class="col-sm-2 control-label">Last Name</label>
					<div class="col-sm-10"><input type="text" ng-model="lName" placeholder="Last Name" required></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Image Url</label>
					<div class="col-sm-10"><input type="url" ng-model="imageUrl" placeholder="imageUrl" required></div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Sex</label>
					<div class="col-sm-10"><select type="text" ng-model="sex" ng-options="sex for sex in ['Male','Female']" title="sex" required>
					<option value="">Select the Sex</option></select></div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Title</label>
					<div class="col-sm-10"><input type="text" ng-model="title" placeholder="Title" required></div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">Edit Manager</label>
				<div class="col-sm-10">
                <select type="text" ng-model="managerid" ng-options="managerid for managerid in ['Empty','James King','Eugene Lee','Paul Jones','Julie Taylor','Ray Moore','John Williams']" title="Choose A Manager" required>
				<option value="">Choose A Manager</option></select></div>
				</div>				
				<div class="form-group">
					<label class="col-sm-2 control-label">View Direct Reports</label>
					<div class="col-sm-10" ng-model="direct">{{ direct.length }}</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Call Office</label>
					<div class="col-sm-10"><input type="text" ng-model="office"  ng-minlength="12"  placeholder="XXX-XXX-XXXX" required></div>				
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Call Cell</label>
					<div class="col-sm-10"><input type="text" ng-model="cell" ng-minlength="12" placeholder="XXX-XXX-XXXX" required></div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">SMS</label>
					<div class="col-sm-10"><input type="text" ng-model="SMS" ng-minlength="12" placeholder="XXX-XXX-XXXX" required></div>

				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Email</label>
					<div class="col-sm-10"><input type="email" name="email" ng-model="email" placeholder="Email" required>
					<span ng-show="form.email.$error.email">Not an Email</span></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Password</label>
					<div class="col-sm-10"><input type="password" name="pass1" ng-model="passw.pass1" ng-minlength="5" placeholder="At least 5 characters" required>
					<span ng-show="form.pass1.$error.minlength">Too short!</span></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Repeat</label>
					<div class="col-sm-10"><input type="password" name="pass2" ng-model="passw.pass2" ng-minlength="5" placeholder="Repeat Password" required>
					<span ng-show="form.pass2.$error.minlength||error">Mismatch!</span></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
					<a class="btn btn-success" href="#/route1/new" ng-disabled="incomplete||error||form.$invalid" ng-click="addNewUser()">
					<span class="glyphicon glyphicon-save"></span>  Save
					</a>
					</div>
				</div>
				

			</form>  
		</div>				  			  
    </div>
  </div>
</div>