<div >
<div class="panel panel-default">
    <div class="panel-body">
	<div class="row">
	<div class="col-sm-4" >
	<a class="btn btn-primary" href="#/route2/{{id}}" ng-click="manageredit(id-1)">
					<span class="glyphicon glyphicon-chevron-left"></span> Back
					</a></div>
	<div class="col-sm-4" ><h3>Direct Reports</h3></div></div>
			<div class="row"><div class="col-sm-4" ><h3>User Page: {{ currentPage }}</h3></div></div>
			<div class="row">           
            <div class="col-sm-4">
              <label for="search">Search:</label>
              <input ng-model="t" id="search" class="form-control" placeholder="Filter text"></input>
            </div> 
            <div class="col-sm-4">
              <label for="search">items per page:</label>
              <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"></input>
            </div>
          
		    <div class="col-sm-4">
			<label for="search">Sort:</label>
               <select ng-model="orderProp" class="form-control"> 
				<option value="lName">Order by Last Name</option> 
				<option value="fName">Order by First Name</option> 
				<option value="direct.length">Order by direct</option> 
			   </select>
            </div>
		  </div>
				
			<table id="Table" class="table table-striped col-md-12">
				<thead>
				 <tr>
				  <th>Image</th>
				  <th>Name/Title</th>
				  <th>Direct Reports</th>				  
				  <th>More Details</th>
				 </tr>
				</thead>
				<tbody>
				<tr dir-paginate="d in direct | filter:t | orderBy:orderProp | itemsPerPage: pageSize" current-page="currentPage">
				<!--	<td>
					<a class="btn" href="#/route3/{{ user.id}}" ng-click="editUser(user.id)">
					<span class="glyphicon glyphicon-pencil"></span>  Edit
					</a>
					</td>
				-->	
				    <td><img height="100px" ng-src='{{users[d].imageUrl}}'></td>
					<td><br>{{ users[d].fName +" "+users[d].lName}}<br>{{ users[d].title }}</td>				
					<td><br><b><font color="blue">{{ users[d].direct.length }}</font></b></td>
					<td><br>
					<a class="btn btn-primary" href="#/route21/{{ id}}" ng-click="manageredit(d)">
					<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
					</td>
				</tr>
				</tbody> 
			</table>  
			  
			  
    </div>
</div>

<div ng-controller="OtherController" class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
 </div>
 </div>